In [63]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [64]:
# make a data frame using pd.read_csv
dataset = pd.read_csv('/content/Iris.csv')
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [65]:
# put avg area income column values in x and price column values in y 
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
X.shape

(150, 5)

In [66]:
# #label Encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [67]:
# import Libraries 
from sklearn import datasets
from sklearn.model_selection import train_test_split
X_train ,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0);
X_train.shape

(120, 5)

In [68]:
# create Linear Regression object and Train the data model using object.fit method 
from sklearn.linear_model import LinearRegression
from sklearn import metrics 
Regressor = LinearRegression()
Regressor.fit(X_train,y_train)

LinearRegression()

In [69]:
# make the best hypothesis for given training data samples using object.predict method
y_train_pred = Regressor.predict(X_train)
np.set_printoptions(precision=2)
print(np.concatenate((y_test_pred.reshape(len(y_test_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 1.9   2.  ]
 [ 0.91  1.  ]
 [-0.02  0.  ]
 [ 1.8   2.  ]
 [-0.14  0.  ]
 [ 1.95  2.  ]
 [ 0.09  0.  ]
 [ 1.3   1.  ]
 [ 1.22  1.  ]
 [ 1.05  1.  ]
 [ 1.83  2.  ]
 [ 1.03  1.  ]
 [ 1.16  1.  ]
 [ 1.07  1.  ]
 [ 1.14  1.  ]
 [ 0.06  0.  ]
 [ 1.25  1.  ]
 [ 1.27  1.  ]
 [ 0.16  0.  ]
 [-0.09  0.  ]
 [ 1.81  2.  ]
 [ 1.19  1.  ]
 [ 0.07  0.  ]
 [-0.11  0.  ]
 [ 1.73  2.  ]
 [-0.11  0.  ]
 [ 0.24  0.  ]
 [ 1.28  1.  ]
 [ 1.06  1.  ]
 [ 0.07  0.  ]]

In [70]:
# make the best hypothesis for given test data samples using object.predict method
y_test_pred = Regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_test_pred.reshape(len(y_test_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 1.9   2.  ]
 [ 0.91  1.  ]
 [-0.02  0.  ]
 [ 1.8   2.  ]
 [-0.14  0.  ]
 [ 1.95  2.  ]
 [ 0.09  0.  ]
 [ 1.3   1.  ]
 [ 1.22  1.  ]
 [ 1.05  1.  ]
 [ 1.83  2.  ]
 [ 1.03  1.  ]
 [ 1.16  1.  ]
 [ 1.07  1.  ]
 [ 1.14  1.  ]
 [ 0.06  0.  ]
 [ 1.25  1.  ]
 [ 1.27  1.  ]
 [ 0.16  0.  ]
 [-0.09  0.  ]
 [ 1.81  2.  ]
 [ 1.19  1.  ]
 [ 0.07  0.  ]
 [-0.11  0.  ]
 [ 1.73  2.  ]
 [-0.11  0.  ]
 [ 0.24  0.  ]
 [ 1.28  1.  ]
 [ 1.06  1.  ]
 [ 0.07  0.  ]]

In [72]:
# print MAE, MSE and RMSE
MAE = metrics.mean_absolute_error(y_test, y_test_pred, sample_weight=None, multioutput='uniform_average')
print(MAE)
MSE = metrics.mean_squared_error(y_test, y_test_pred, sample_weight=None, multioutput='uniform_average')
print(MSE)
from math import sqrt
RMSE = sqrt(MSE)
print(RMSE)

0.14121349069429895
0.026675960619581194
0.1633277705094305